body{
    background: #F4F4F4;
    font-family: "Garamond";
}

.header{
    font-size: 40px;
}

.container{
    background: grey;
    height: 100%;
    width: 100%;
}

.footer{
    background: bisque;
    padding: 20px;
}

.overlayText{
    font-size: 100px;
    width: 60%;
}

.footerImageContainer{
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
    border-radius: 10px;
}

.footerImage, .slideshowImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45); /* 45% black */

    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.headerText{
    font-size: 60px;
}

.logo-nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:18px 28px;
  background:#DDC39A;
}

.logo{
  color:#ffffff;
  font-weight:700;
}

.links a{
  margin-left:20px;
  color: #e5e7eb;
  text-decoration:none;
}